<% provide(:title, 'Редактирование профиля') %>
<%= render partial: 'layouts/navbar_home' %>
<div class="background-bubble bb-1"></div>
<div class="background-bubble bb-2"></div>
<div class="container text-center mx-4">
  <div class="col-md-6 text-center mx-auto my-5 border rounded p-5 auth-window">
    <h2 class="h3 text-white mb-5">Редактирвоание профиля</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field text-start my-2">
        <%= f.label :first_name, 'Имя', class: 'form-label text-white' %><br />
        <%= f.text_field :first_name, class: 'form-control', require: :require %>
      </div>

      <div class="field text-start my-2">
        <%= f.label :last_name, 'Фамилия', class: 'form-label text-white' %><br />
        <%= f.text_field :last_name, class: 'form-control', require: :require %>
      </div>

  <div class="field text-start my-2">
    <%= f.label :email, 'Email', class: 'form-label text-white' %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ожидаем подтверждения email: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field text-start my-2">
    <%= f.label :password, 'Пароль', class: 'form-label text-white' %> <i class="form-text text-white">(Оставьте пустым, если не хотите менять пароль)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em class="form-text text-white">Минимум <%= @minimum_password_length %> символов</em>
    <% end %>
  </div>

  <div class="field text-start my-2">
    <%= f.label :password_confirmation, 'Подтверждение пароля', class: 'form-label text-white' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field text-start my-2">
    <%= f.label :current_password, 'Текущий пароль', class: 'form-label text-white' %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="actions text-center my-2 d-flex">
    <div class="w-100 px-1"><%= f.submit "Обновить", class: 'btn btn-auth-proceed' %></div>
  </div>
<% end %>

<h3 class="h3 text-white mt-5">Удалить аккаунт</h3>

<p><%= button_to "Удалить", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Назад", :back %>
  </div>
</div>